@{
    ViewBag.Title = "Business Development";
}
<div class="jumbotron" align="center">
    <h1><b>Business Development</b></h1>

</div>

<div class="row">
    <div class="col-md-12">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Customer DB &raquo;</a></p>
    </div>

    <div class="col-md-12">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">New RFQ &raquo;</a></p>
    </div>

    <div class="col-md-12">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Open RFQ &raquo;</a></p>
    </div>

    <div class="col-md-12">

    </div>


</div>
