@{
    ViewBag.Title = "Business Development";
}
<div class="jumbotron" align="center">
    <h1><b>BUSINESS DEVELOPMENT</b></h1>

</div>

@Html.Partial("~/views/BusDev/PartialMenu.cshtml");


@*
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown">
        Boton 1 <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu">
        <li><a href="#">Acción #1</a></li>
        <li><a href="#">Acción #2</a></li>
        <li><a href="#">Acción #3</a></li>
        <li class="divider"></li>
        <li><a href="#">Acción #4</a></li>
    </ul>
</div>
*@

