@model IEnumerable<AXIS.Models.Role>
@{
    ViewBag.Title = "Manage Roles";
}

<h2>Roles for Axis Application</h2>
<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Create New Role", "Create", "Roles")
    </table>

</section>

<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Assign Role to user", "RegisterRole", "Account")
    </table>

</section>



<br />

<table class="table table-bordered table-hover">
    <tr>
        <th class="c">
            Role Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @item.Name
            </th>
        </tr>
    }


</table>
