<div class="row">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="nav-side-menu">
        <div class="brand">HOME</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#PROFILE" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Tech Profile <span class="arrow"></span></a>

                    <ul class="sub-menu collapse" id="PROFILE">
                        <li>Bio</li>
                        <li>Rates</li>
                        <li>Tech Assets</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#HANDBOOK" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Employe Handbook<span class="arrow"></span></a>

                    <ul class="sub-menu collapse" id="HANDBOOK">
                        <li>Opcion 1</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#REPORTS" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Open RFQ <span class="arrow"></span></a>

                    <ul class="sub-menu collapse" id="REPORTS">
                        <li>Opcion 1</li>
                    </ul>
                </li>
               </ul>
            </ul>
        </div>
    </div>

</div>
