TECHNICIAN: @ViewBag.FullName<br />

<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    
    Hello&nbsp;
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <span style="font-size: 11pt;">&nbsp;</span>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    Please see attached Axis employee safety certifications.
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    &nbsp;
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    If you need any additional information please let me know, thank you.
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    &nbsp;
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <b><span style="font-size: 22pt; font-family: &quot;Bradley Hand ITC&quot;, serif, EmojiFont; color: rgb(192, 0, 0);">Safety First,</span></b>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <b><span style="font-family: &quot;Bradley Hand ITC&quot;, serif, EmojiFont; color: rgb(192, 0, 0);">&nbsp;</span></b>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <b><span style="font-size: 12pt; font-family: Calibri, sans-serif, serif, EmojiFont;">Brent Berentson - Director, EHS</span></b>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <span class="contextualExtensionHighlight ms-font-color-themePrimary ms-border-color-themePrimary ident_1651_1697" role="button" style="border-color: rgb(0, 120, 215); color: rgb(0, 120, 215); border-bottom-width: 1px; border-bottom-style: dashed; cursor: pointer; font-family: Calibri, sans-serif, serif, EmojiFont;" tabindex="0">Axis Renewable Group, Inc.</span>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <span class="contextualExtensionHighlight ms-font-color-themePrimary ms-border-color-themePrimary ident_1651_1697" role="button" style="border-color: rgb(0, 120, 215); color: rgb(0, 120, 215); border-bottom-width: 1px; border-bottom-style: dashed; cursor: pointer; font-family: Calibri, sans-serif, serif, EmojiFont;" tabindex="0">San Diego, CA 92110</span>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    Office: 619.937.3951 x 104
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    Mobile: 619.504.2630
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    Skype: berentson123
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <a href="mailto:bberentson@axisrg.com" rel="noopener noreferrer" target="_blank">bberentson@axisrg.com</a>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <a href="http://www.axisrg.com/" rel="noopener noreferrer" target="_blank">www.axisrg.com</a>
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <img border="0" custom="AQMkADAwATE2MTMwLThhMDAALWI5MzgtMDACLTAwCgBGAAAD42RJ3BNpRk6d%2BvOjjwjq1QcAywYaop%2FYa0WXvft5cVfq9wAAAgEMAAAAywYaop%2FYa0WXvft5cVfq9wAAAP3zPZQAAAABEgAQAGfZkDshCUlHpFMRh6X4pc4%3D" downloadimage="https://attachment.outlook.office.net/owa/eduardin23@hotmail.com/service.svc/s/GetFileAttachment?id=AQMkADAwATE2MTMwLThhMDAALWI5MzgtMDACLTAwCgBGAAAD42RJ3BNpRk6d%2BvOjjwjq1QcAywYaop%2FYa0WXvft5cVfq9wAAAgEMAAAAywYaop%2FYa0WXvft5cVfq9wAAAP3zPZQAAAABEgAQAGfZkDshCUlHpFMRh6X4pc4%3D&amp;X-OWA-CANARY=loWh_8nankGdES3akdyCnZAX37FO2dQYa8Jr8yPhd7xXuBxXD9hbcOgMcfDp72fOstBPa-32VgM.&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImVuaDlCSnJWUFU1aWpWMXFqWmpWLWZMMmJjbyJ9.eyJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctOTA0MTYtMjMxNTMwMzIyNFwiLFwicHVpZFwiOlwiMzg4MzM2MDc4MzM4MzYwXCIsXCJvaWRcIjpcIjAwMDE2MTMwLThhMDAtYjkzOC0wMDAwLTAwMDAwMDAwMDAwMFwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCJ9IiwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2sub2ZmaWNlLm5ldEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJleHAiOjE1MDE2NDE3MDEsIm5iZiI6MTUwMTY0MTEwMX0.LCqCd-Pqa9l6hfUXRpHFtl7z8RqnPgYsTTH4FrpV4Jc9IIZwc37qBIQI1KKrqyKpaQgGkGXDM60ceTIPDmUxAbZJoErnf4bu54Ule9AgwwBEI9f2o65mKZhJl3DZmMTR2IMFUIHk8Kr3CWnHgzifoSuK_PAzs58DQViu5dHZDijh21tnA6w0S5I7guieX2Yh7IBUckXhjmlnrgE2sOpepuV2U17hnaN6sHumQvvxEAxH_ETbWXNMgo6FZT-Lt5hW0_69IsuS899U0rkEv9WP2XTU3UTv5G4MtUxaN-E1u9HpkURrfCHfSPkjLa7wk6CIPFUsncrf-A9z4t4CWCYOYw&amp;owa=outlook.live.com&amp;isc=1" height="49" id="x_Picture_x0020_1" naturalheight="49" naturalwidth="183" originalsrc="cid:image001.png@01D2DB9A.1AA197D0" src="https://attachment.outlook.office.net/owa/eduardin23@hotmail.com/service.svc/s/GetFileAttachment?id=AQMkADAwATE2MTMwLThhMDAALWI5MzgtMDACLTAwCgBGAAAD42RJ3BNpRk6d%2BvOjjwjq1QcAywYaop%2FYa0WXvft5cVfq9wAAAgEMAAAAywYaop%2FYa0WXvft5cVfq9wAAAP3zPZQAAAABEgAQAGfZkDshCUlHpFMRh6X4pc4%3D&amp;X-OWA-CANARY=loWh_8nankGdES3akdyCnZAX37FO2dQYa8Jr8yPhd7xXuBxXD9hbcOgMcfDp72fOstBPa-32VgM.&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImVuaDlCSnJWUFU1aWpWMXFqWmpWLWZMMmJjbyJ9.eyJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctOTA0MTYtMjMxNTMwMzIyNFwiLFwicHVpZFwiOlwiMzg4MzM2MDc4MzM4MzYwXCIsXCJvaWRcIjpcIjAwMDE2MTMwLThhMDAtYjkzOC0wMDAwLTAwMDAwMDAwMDAwMFwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCJ9IiwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2sub2ZmaWNlLm5ldEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJleHAiOjE1MDE2NDE3MDEsIm5iZiI6MTUwMTY0MTEwMX0.LCqCd-Pqa9l6hfUXRpHFtl7z8RqnPgYsTTH4FrpV4Jc9IIZwc37qBIQI1KKrqyKpaQgGkGXDM60ceTIPDmUxAbZJoErnf4bu54Ule9AgwwBEI9f2o65mKZhJl3DZmMTR2IMFUIHk8Kr3CWnHgzifoSuK_PAzs58DQViu5dHZDijh21tnA6w0S5I7guieX2Yh7IBUckXhjmlnrgE2sOpepuV2U17hnaN6sHumQvvxEAxH_ETbWXNMgo6FZT-Lt5hW0_69IsuS899U0rkEv9WP2XTU3UTv5G4MtUxaN-E1u9HpkURrfCHfSPkjLa7wk6CIPFUsncrf-A9z4t4CWCYOYw&amp;owa=outlook.live.com&amp;isc=1&amp;isImagePreview=True" style="width: 1.9062in; height: 0.5104in;" thumbnailimage="https://attachment.outlook.office.net/owa/eduardin23@hotmail.com/service.svc/s/GetFileAttachment?id=AQMkADAwATE2MTMwLThhMDAALWI5MzgtMDACLTAwCgBGAAAD42RJ3BNpRk6d%2BvOjjwjq1QcAywYaop%2FYa0WXvft5cVfq9wAAAgEMAAAAywYaop%2FYa0WXvft5cVfq9wAAAP3zPZQAAAABEgAQAGfZkDshCUlHpFMRh6X4pc4%3D&amp;X-OWA-CANARY=loWh_8nankGdES3akdyCnZAX37FO2dQYa8Jr8yPhd7xXuBxXD9hbcOgMcfDp72fOstBPa-32VgM.&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6ImVuaDlCSnJWUFU1aWpWMXFqWmpWLWZMMmJjbyJ9.eyJ2ZXIiOiJFeGNoYW5nZS5DYWxsYmFjay5WMSIsImFwcGN0eHNlbmRlciI6Ik93YURvd25sb2FkQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImFwcGN0eCI6IntcIm1zZXhjaHByb3RcIjpcIm93YVwiLFwicHJpbWFyeXNpZFwiOlwiUy0xLTI4MjctOTA0MTYtMjMxNTMwMzIyNFwiLFwicHVpZFwiOlwiMzg4MzM2MDc4MzM4MzYwXCIsXCJvaWRcIjpcIjAwMDE2MTMwLThhMDAtYjkzOC0wMDAwLTAwMDAwMDAwMDAwMFwiLFwic2NvcGVcIjpcIk93YURvd25sb2FkXCJ9IiwiaXNzIjoiMDAwMDAwMDItMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwQDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImF1ZCI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMC9hdHRhY2htZW50Lm91dGxvb2sub2ZmaWNlLm5ldEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJleHAiOjE1MDE2NDE3MDEsIm5iZiI6MTUwMTY0MTEwMX0.LCqCd-Pqa9l6hfUXRpHFtl7z8RqnPgYsTTH4FrpV4Jc9IIZwc37qBIQI1KKrqyKpaQgGkGXDM60ceTIPDmUxAbZJoErnf4bu54Ule9AgwwBEI9f2o65mKZhJl3DZmMTR2IMFUIHk8Kr3CWnHgzifoSuK_PAzs58DQViu5dHZDijh21tnA6w0S5I7guieX2Yh7IBUckXhjmlnrgE2sOpepuV2U17hnaN6sHumQvvxEAxH_ETbWXNMgo6FZT-Lt5hW0_69IsuS899U0rkEv9WP2XTU3UTv5G4MtUxaN-E1u9HpkURrfCHfSPkjLa7wk6CIPFUsncrf-A9z4t4CWCYOYw&amp;owa=outlook.live.com&amp;isc=1&amp;isImagePreview=True" width="183" />
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    &nbsp;
</p>
<p class="x_MsoNormal" style="margin: 0in 0in 0.0001pt; font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(33, 33, 33);">
    <span style="font-size: 9pt; font-family: Calibri, sans-serif, serif, EmojiFont;">CONFIDENTIALITY NOTICE: The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged information and may be legally protected from disclosure. If you are not the intended recipient of this message or their agent, or if this message has been addressed to you in error, please immediately alert the sender by reply email and then delete this message and any attachments. If you are not the intended recipient, you are hereby notified that any use, dissemination, copying, or storage of this message or its attachments is strictly prohibited.</span>
</p>

