@model IEnumerable<AXIS.Models.Purchaseorder>
@{
    ViewBag.Title = "SETUP MOBILIZATION";
}

<h2>MOBILIZATION</h2>

<h3>SELECT PO#:</h3>

    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#TECH" aria-controls="TECH" role="tab" data-toggle="tab">TECHS</a></li>
            <li role="presentation"><a href="#TOOL" aria-controls="TOOL" role="tab" data-toggle="tab">TOOLS</a></li>
            <li role="presentation"><a href="#TRUCK" aria-controls="TRUCK" role="tab" data-toggle="tab">TRUCKS</a></li>
            <li role="presentation"><a href="#SITE" aria-controls="SITE" role="tab" data-toggle="tab">SITE COORDINATOR</a></li>
            <li role="presentation"><a href="#CERT" aria-controls="CERT" role="tab" data-toggle="tab">CERT DELIVER</a></li>
            <li role="presentation"><a href="#SHIPPING" aria-controls="SHIPPING" role="tab" data-toggle="tab">SHIPPING</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="TECH">
            
            </div>
            <div role="tabpanel" class="tab-pane" id="TOOL">

            </div>
            <div role="tabpanel" class="tab-pane" id="TRUCK">

            </div>
            <div role="tabpanel" class="tab-pane" id="SITE">

            </div>
            <div role="tabpanel" class="tab-pane" id="CERT">

            </div>
            <div role="tabpanel" class="tab-pane" id="SHIPPING">

            </div>
        </div>

    </div>


