
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Unauthorized</title>
</head>
<body>
    <div style="text-align:Center"> 
        <h1>ACCESS DENITED</h1>
        <h4>Requests access to the system administrator</h4>
    </div>
    <br />

</body>
</html>
