<div class="row">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="nav-side-menu">
        <div class="brand">
            <a href=@Url.Action("Index","Home")>HOME</a>
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">

                <li data-toggle="collapse" data-target="#FORM" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> Verify Profile Info.<span class="arrow"></span></a>

                    <ul class="sub-menu collapse" id="FORM">
                        <li>Hire Right</li>
                        <li>Certification</li>
                        <li>Work Experience</li>
                    </ul>
                </li>
                <li data-toggle="collapse" data-target="#EXDATA" class="collapsed">
                    <a href="#"><i class="fa fa-globe fa-lg"></i> External Data<span class="arrow"></span></a>

                    <ul class="sub-menu collapse" id="EXDATA">
                        <li><a href=@Url.Action("Index","Teches")>Import</a></li>
                    </ul>
                </li>
            </ul>
            </ul>
        </div>
    </div>

</div>

