@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>
    Axis Renewable Group is built on the “Safety First” mentality, ensuring our 
    clients receive the highest level of service through safety, 
    quality, production, and professionalism.  Based in San Diego, 
    California, AXIS provides services to the wind and solar 
    industries throughout the world.
</p>
