@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1><b>MAIN MENU</b></h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Business Development &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Field Operations &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Technicians &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Health & Safety &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Management &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Library &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Assets &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Customer Service &raquo;</a></p>
    </div>

</div>