@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" align="center">
    <h1><b>MAIN MENU</b></h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <p><a href=@Url.Action("Index","BusDev") class="btnaxis btnaxis-axis btnaxis-lg">Business Development &raquo;</a></p>
    </div>


    <div class="col-md-4">
        <p><a href=@Url.Action("Index","FieldOps") class="btnaxis btnaxis-axis btnaxis-lg">Field Operations &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href=@Url.Action("Index","Technicians") class="btnaxis btnaxis-axis btnaxis-lg">Technicians &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Health & Safety &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Management &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Library &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Assets &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Customer Service &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="http://asp.net" class="btnaxis btnaxis-axis btnaxis-lg">Finance &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a href=@Url.Action("Index","Newhire") class="btnaxis btnaxis-axis btnaxis-lg">New Hire &raquo;</a></p>
    </div>


</div>